* {
  box-sizing: border-box;
}

body {
  line-height: 1.42;
  font-size: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

figure,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
