extends ../pageTemplate

block variables
    - var title = 'Index Page'

block content
    header.main-header
    div.content-block
        main.main-content
            article.article-preview
                div.container
                    h2.article-preview__title Lorem ipsum dolor sit amet consectetur.
                    time(datetime="2019-10-16").time-mark October 16, 2019
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat perspiciatis neque eveniet. Quam molestias voluptate dignissimos optio nulla aliquid vitae numquam fugit quis eaque, nemo excepturi iure, adipisci voluptas enim incidunt eveniet harum odio sint et minus! Illo sunt delectus possimus modi sit, minima non iste iusto assumenda. Voluptas deserunt deleniti blanditiis fugiat, sed sunt natus maiores, dicta enim perspiciatis ratione alias, omnis nisi. Iure id, tempore autem ipsam labore voluptatibus dolorem alias, tempora quibusdam dolor repudiandae doloribus accusamus ipsum nihil fuga. Assumenda labore, corrupti porro magnam alias, eum soluta culpa recusandae corporis debitis sed dolore voluptas. Nostrum mollitia repellat ut quae at, cum neque eaque cumque impedit ducimus modi, ipsum saepe repudiandae facere, voluptatibus molestiae consectetur consequatur distinctio dolorem!
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur pariatur laboriosam, earum ipsum neque consequuntur molestiae veniam saepe debitis, quasi ad! Enim pariatur consectetur nulla eum maiores exercitationem voluptatum? Earum, aliquam labore in atque voluptates quasi expedita culpa cum aperiam quos sint aut asperiores est maiores totam sit deleniti officia? Vero ducimus architecto cumque unde, incidunt delectus, rem adipisci beatae nostrum distinctio aliquid expedita id voluptas odio aut blanditiis nam? Veritatis distinctio ab vero delectus praesentium, ratione temporibus obcaecati asperiores!
